<?php

return [
    'db' => [
        'hostname' => 'hostname',
        'dbName' => 'dbName',
        'user' => 'user',
        'password' => 'password',
    ],
    'mailchimp' => [
        'accessToken' => 'accessToken',
        'listId' => 'listId',
    ],
];
